<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FilePage</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <% if (locals.filelink != null) { %>
    <div style="margin-bottom: 1rem">
      Your file is uploaded

      <a href="<%= locals.filelink %>"><%= locals.filelink %></a>
    </div>
    <% } %>

    <form
      action="/upload"
      method="post"
      class="m-auto max-w-md grid grid-cols-2 gap-4 p-6 bg-gray-100 rounded-md shadow-md"
      enctype="multipart/form-data"
    >
      <label for="file">File: </label>
      <input type="file" name="file" id="file" required />
      <label for="password">password</label>
      <input type="password" , name="password" , id="password" />
      <button
        style="
          transition: background-color 0.3s ease;
          grid-column: span 2;
          background-color: rgb(221, 239, 239);
          border-color: aqua;
        "
        type="submit"
      >
        Share
      </button>
    </form>
  </body>
</html>
